@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <ul>
        <li><a asp-page="@Url.Page("Task1")">Task 1</a></li>
        <li><a asp-page="@Url.Page("Task2")">Task 2</a></li>
        <li><a asp-page="@Url.Page("Task3_4_1")">Task 3,4</a></li>
        <li><a asp-page="@Url.Page("Task5")">Task 5</a></li>
    </ul>
</div>