@page
@model CW_0811.Pages.Task2Model
@{
}
<form asp-page-handler="BySelect">
	<input  type="text" name="country" />
	<button type="submit">Submit</button>
</form>

<ul>
	@foreach(string contry in Model.DisplayedCountries)
	{
		if (Model.Country!=null)
		{
			int iter = contry.ToLower().IndexOf(Model.Country.ToLower());
			<li>@contry.Substring(0, iter)<b style="color:red">@contry.Substring(iter, Model.Country.Length)</b>@contry.Substring(iter+Model.Country.Length)</li>
		}
		else
		{
		<li>@contry</li>
		}
	}
</ul>