@{
    ViewData["Title"] = "Home Page";
}
<div class="text-end">
    <form method="get" asp-controller="Home" asp-action="SignIn">
        <button class="btn btn-outline-primary">Sing In</button>
    </form>
</div>
<div class="bg-light p-3">
    <h1 class="display-4 text-center">ASP.NET Conferention</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui asperiores laudantium, ab tenetur maiores eligendi nam ad natus quae id quibusdam consequuntur provident culpa autem! Recusandae deleniti vitae, asperiores incidunt alias magni sed culpa. Rem repellendus eaque veniam quibusdam? Aspernatur?</p>
    <p>At deserunt eius molestias rerum, vitae sed voluptates nostrum aspernatur impedit quae iusto dolore exercitationem, nobis repudiandae consectetur maiores laudantium temporibus, possimus omnis? Unde iusto consectetur sapiente voluptatibus laborum, natus aperiam, commodi inventore exercitationem soluta veritatis, quis totam sunt esse?</p>
    <p>Aliquid, magnam cumque? Debitis labore doloremque mollitia ipsum libero in incidunt itaque minus quidem magnam aspernatur optio, saepe, quod porro harum consequatur alias inventore impedit culpa! Dicta atque odit molestiae quidem laudantium! Facilis doloribus accusantium nobis necessitatibus vel, excepturi quam.</p>
    <p>Ullam nobis repellat, eos fugiat quod quae eaque in dolore odit error cum temporibus autem deserunt, harum consectetur quibusdam numquam dolores esse tenetur quisquam perspiciatis! Exercitationem accusantium fugit sequi eveniet cumque fugiat, omnis laborum eligendi totam enim ab quos minima!</p>
    <p>Itaque, earum sequi molestias tempore ullam voluptatum sint ut dicta dignissimos incidunt maiores voluptates, consequuntur voluptatem veritatis eum maxime sunt. Dicta est quae porro fuga minima quod, commodi ducimus. Dolor, cumque eligendi! Inventore, perspiciatis. Non at tenetur quas tempora eligendi.</p>
    <p>Dicta veniam, nobis quo, nihil inventore eveniet, id alias aliquam fugit eos maxime? Placeat quos atque explicabo eaque dolor reprehenderit perspiciatis fuga aspernatur, porro veniam tenetur totam doloribus aperiam alias quibusdam saepe, numquam asperiores error sit? Aut voluptates ducimus nemo?</p>
    <p>Dolor et reprehenderit soluta unde, deleniti itaque eos ipsam nesciunt dicta ullam qui laboriosam illo facere molestias saepe magni commodi optio similique asperiores doloremque quae quos officiis quidem! Itaque dolores inventore nulla expedita velit, quisquam natus sunt quae nemo magnam?</p>
    <p>Quis similique veniam pariatur ratione laborum quaerat optio? Corporis neque odio earum temporibus accusamus voluptatum exercitationem ratione tempore cum quisquam, commodi sunt cumque soluta, assumenda, maxime in numquam quod totam suscipit eum minus veritatis iure! Enim dicta sunt fugit minima!</p>
    <p>Consequatur ea ipsum repellendus ratione quasi reprehenderit ullam autem explicabo ad excepturi, tempora nam? Doloremque fuga in magnam placeat corporis iste, perferendis incidunt quia. Laboriosam explicabo officia dicta est delectus quasi, deserunt inventore doloribus, nulla, repellat voluptatum ipsam eius sapiente!</p>
    <p>Nesciunt tempora architecto dolor, unde libero repellendus ut, praesentium ea perferendis quasi quam! Eveniet nobis omnis cumque porro a corrupti ea asperiores rem dolore, itaque illum sequi repellendus atque iure perferendis totam expedita quod ratione? Itaque distinctio necessitatibus expedita commodi.</p>
    <form method="get" asp-controller="Home" asp-action="Registration">
        <a asp-controller="Home" asp-action="Programm">The programm of conferention</a>
        <button class="btn btn-success w-100 h-100">Registration</button>
    </form>
</div>
