@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="bg-light p-3">
    <h1 class="display-4 text-center">ASP.NET Conferention</h1>
     <form method="get" asp-controller="Home" asp-action="Registration">
        <button class="btn btn-success w-100 h-100">Registration</button>
    </form>
    <h4 class="display-5">Organizators</h4>
    <ul>
        <li>Lorem, ipsum.</li>
        <li>A, animi!</li>
        <li>Iure, molestias?</li>
        <li>Sapiente, facere.</li>
        <li>Ex, quod?</li>
    </ul>
    <h4 class="display-5">Sponsors</h4>
    <ul>
        <li>Lorem, ipsum.</li>
        <li>A, animi!</li>
        <li>Iure, molestias?</li>
        <li>Sapiente, facere.</li>
        <li>Ex, quod?</li>
    </ul>
    <h4 class="display-5">Programm</h4>
    <ul>
        <li>Lorem, ipsum.</li>
        <li>A, animi!</li>
        <li>Iure, molestias?</li>
        <li>Sapiente, facere.</li>
        <li>Ex, quod?</li>
    </ul>
    <h4 class="display-5">Speakers and reports</h4>
    <ul>
        <li>Lorem, ipsum. - Lorem ipsum dolor sit amet.</li>
        <li>A, animi! - Lorem ipsum dolor sit amet.</li>
        <li>Iure, molestias? - Lorem ipsum dolor sit amet.</li>
        <li>Sapiente, facere. - Lorem ipsum dolor sit amet.</li>
        <li>Ex, quod? - Lorem ipsum dolor sit amet.</li>
    </ul>
</div>