@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Registration" asp-controller="Home" class="d-flex flex-column">
    <label>Name 
        <input name="Name" />
    </label>
    <label>Last Name 
        <input name="LastName" />                   
    </label>
    <label>Email 
        <input regex="/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/" type="email" name="Email"/>
    </label>
    <label>Password 
        <input type="password" name="Password" />    
    </label>
    <label>Phone 
        <input name="Phone" />                       
    </label>
    <button class="btn btn-success">Sumbit</button>
</form>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" 
    integrity="sha512-0XDfGxFliYJPFrideYOoxdgNIvrwGTLnmK20xZbCAvPfLGQMzHUsaqZK8ZoH+luXGRxTrS46+Aq400nCnAT0/w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('input[name=Phone]').mask('+38(999) 999 99 99');
    </script>
}