@page
@model HW_0811_HW1_.Pages.Task1_1Model
@{
}
<form asp-page-handler="Subscribe" method="post">
	<input type="email" name="email" placeholder="Email..."/>
	<label><input type="checkbox" name="check" value="True" /> Subscribe</label>
	<button>Submit</button>
</form>